<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<div class="banner overlay" style="background-image: url(images/dist/banner.jpg);">
	<div class="banner__container container container-xxl">

		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">Туры</li>
			</ul>
		</nav>

		<h1 class="banner__title main-title">Беломорские встречи<br> с дикой природой</h1>

	</div>
</div>

<div class="page">
	<div class="container container-xxl">

		<div class="page__row row">
			<div class="page__col page__body col-sm-9">
				<div class="page__content content">
					<h1>H2 - What is Lorem Ipsum?</h1>
					<h2>H2 - What is Lorem Ipsum?</h2>
					<h3>H3 - What is Lorem Ipsum?</h3>
					<h4>H4 - What is Lorem Ipsum?</h4>
					<h5>H5 - What is Lorem Ipsum?</h5>
					<h6>H6 - What is Lorem Ipsum?</h6>
					<div class="divider">
						<div class="divider__line"></div>
					</div>
					<img src="images/dist/img.jpg" alt="alt" class="img-responsive brs">
					<div class="divider divider_reverse">
						<div class="divider__line"></div>
					</div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
					<blockquote>remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like <a href="#">Aldus PageMaker</a> including versions of Lorem Ipsum.</blockquote>
					<h2>Why do we use it?</h2>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
					<div class="divider divider_sm">
						<div class="divider__line"></div>
					</div>
					<ol>
						<li>Various versions have evolved over the years</li>
						<li>sometimes by accident</li>
						<li>sometimes on purpose (injected humour and the like).</li>
					</ol>
					<h2>Where does it come from?</h2>
					<div class="clearfix">
						<div class="float-left col-xl-4 col-sm-5 col-6">
							<img src="images/dist/img_2.jpg" alt="alt" class="img-responsive brs">
						</div>
						<p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a <a href="#">Lorem Ipsum</a> passage, and going through the cites of the word in classical literature,</p>
						<ul>
							<li>discovered</li>
							<li>the undoubtable</li>
							<li>source</li>
						</ul>
					</div>
					<p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of «de Finibus Bonorum et Malorum» (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, «Lorem ipsum dolor sit amet.», comes from a line in section 1.10.32.</p>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from «de Finibus Bonorum et Malorum» by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham</p>
					<div class="clearfix">
						<div class="float-right col-xl-4 col-sm-5 col-6">
							<img src="images/dist/img_2.jpg" alt="alt" class="img-responsive brs">
						</div>
						<p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of «de Finibus Bonorum et Malorum» (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, «Lorem ipsum dolor sit amet.», comes from a line in section 1.10.32.</p>
					</div>
					<div class="table-wrap custom-scrollbar-horizontal">
						<table class="table">
							<thead>
								<tr>
									<td>№</td>
									<td>Пример текста для таблицы</td>
									<td>Пример текста</td>
									<td>Пример текста для таблицы</td>
									<td>Пример текста в 2 строки</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Пример текста для таблицы<br>
										Пример текста для таблицы<br>
										Пример текста для таблицы<br>
										Пример текста для таблицы<br>
										Пример текста для таблицы<br>
										Пример текста для таблицы</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="page__col page__aside aside col-sm-3">
				<div class="aside__block links-page">
					<h5 class="links-page__title">смотрите также</h5>
					<ul class="links-page__list">
						<li><a href="#">Как нас найти</a></li>
						<li><a href="#">Банковские реквизиты</a></li>
						<li><a href="#">История компании</a></li>
						<li><a href="#">Политика конфиденциальности</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>

	<div class="page__block page__slider-images slider-images-wrapper">
		<div class="slider-images-wrapper__inner">
			<div class="container container-xxl">
				<div class="slider-images-main slider slider_white">
					<div class="slider-images-main__items slider__items">
						<a href="images/dist/images_1.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_2.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_1.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_2.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_1.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_2.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_1.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_2.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_1.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_2.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_1.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
						<a href="images/dist/images_2.jpg" class="slider-images__item item-images">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
							<h4 class="item-images__title title">Загадочные места Карелии</h4>
						</a>
					</div>
					<div class="slider-images-main__arrows slider__arrows container container-xxl">
						<svg role="img" class="slider-images-main__nav slider-images-main__nav_prev slider__nav slider__nav_prev">
							<use href="images/dist/icons/sprite.svg#arrow_left"/>
						</svg>
						<svg role="img" class="slider-images-main__nav slider-images-main__nav_next slider__nav slider__nav_next">
							<use href="images/dist/icons/sprite.svg#arrow_right"/>
						</svg>
					</div>
				</div>
				<div class="slider-images-thumbs slider slider_white">
					<div class="slider-images-thumbs__items slider__items">
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_1.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
						<div class="slider-images__item item-images item-images_thumb">
							<img src="images/dist/images_2.jpg" alt="alt" class="item-images__img img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container container-xxl">

		<div class="page__row row">
			<div class="page__col col-xl-9">
				<div class="page__content content">
					<h2>Where can I get some?</h2>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
				</div>
			</div>
		</div>
		
	</div>

	<div class="container container-xxl">
		<div class="page__row row">
			<div class="page__col col-xl-10">
				<div class="page__block page__files files-page">
					<h2 class="files-page__title page__title">Блок с документами</h2>
					<div class="files-page__items">
						<div class="files-page__item item-file">
							<a href="#" class="item-file__link">
								<img src="images/dist/icons/paper.svg" alt="alt" class="item-file__icon">
								Меню ресторана
							</a>
						</div>
						<div class="files-page__item item-file">
							<a href="#" class="item-file__link">
								<img src="images/dist/icons/paper.svg" alt="alt" class="item-file__icon">
								Меню ресторана
							</a>
						</div>
					</div>
				</div>
				
				<div class="page__block page__contacts contacts">
					<h2 class="contacts__title page__title">Контактная информация</h2>
					<div class="contacts__items">
						<div class="contacts__item item-contact">
							<h4 class="item-contact__title label">Телефон отдела продаж</h4>
							<a href="#" class="item-contact__value">
								<img src="images/dist/icons/phone_accent.svg" alt="alt" class="item-contact__icon">
								+7 921 44 44 4444
							</a>
						</div>
						<div class="contacts__item item-contact">
							<h4 class="item-contact__title label">Бесплатный номер по России</h4>
							<a href="#" class="item-contact__value">
								<img src="images/dist/icons/phone_accent.svg" alt="alt" class="item-contact__icon">
								+7 921 44 44 4444
							</a>
						</div>
						<div class="contacts__item item-contact">
							<h4 class="item-contact__title label">Элетктронная почта</h4>
							<a href="#" class="item-contact__value">
								<img src="images/dist/icons/email_accent.svg" alt="alt" class="item-contact__icon">
								contact@compasscamp.ru
							</a>
						</div>
					</div>
				</div>
			
				<div class="page__block page__team team">
					<h2 class="team__title page__title">Отдел продаж</h2>
					<div class="team__items row">
						<div class="team__item item-team col-md-6">
							<div class="item-team__inner">
								<div class="item-team__img-wrap">
									<img src="images/dist/team_1.jpg" alt="alt" class="item-team__img img-responsive brs">
								</div>
								<div class="item-team__content">
									<h4 class="item-team__title">Екатерина Травина</h4>
									<p class="item-team__position">Руководитель</p>
									<div class="item-team__contacts">
										<div class="item-team__contact item-contact">
											<a href="#" class="item-contact__value">
												<img src="images/dist/icons/phone_accent.svg" alt="alt" class="item-contact__icon">
												+7 921 44 44 4444 (whatsapp, telegram)
											</a>
										</div>
										<div class="item-team__contact item-contact">
											<a href="#" class="item-contact__value">
												<img src="images/dist/icons/email_accent.svg" alt="alt" class="item-contact__icon">
												travina@gmail.com
											</a>
										</div>
									</div>
								</div>
							</div>
							<svg role="img" class="item-team__spiral spiral spiral_white">
								<use href="images/dist/icons/sprite.svg#spiral"/>
							</svg>
						</div>
						<div class="team__item item-team col-md-6">
							<div class="item-team__inner">
								<div class="item-team__img-wrap">
									<img src="images/dist/team_1.jpg" alt="alt" class="item-team__img img-responsive brs">
								</div>
								<div class="item-team__content">
									<h4 class="item-team__title">Екатерина Травина</h4>
									<p class="item-team__position">Руководитель</p>
									<div class="item-team__contacts">
										<div class="item-team__contact item-contact">
											<a href="#" class="item-contact__value">
												<img src="images/dist/icons/phone_accent.svg" alt="alt" class="item-contact__icon">
												+7 921 44 44 4444 (whatsapp, telegram)
											</a>
										</div>
										<div class="item-team__contact item-contact">
											<a href="#" class="item-contact__value">
												<img src="images/dist/icons/email_accent.svg" alt="alt" class="item-contact__icon">
												travina@gmail.com
											</a>
										</div>
									</div>
								</div>
							</div>
							<svg role="img" class="item-team__spiral spiral spiral_white">
								<use href="images/dist/icons/sprite.svg#spiral"/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<section class="section-map">
	<div class="section-map__map map">
		<!-- data-mobile - ссылка на мобильную версию карты. -->
		<iframe class="map__item" src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa4b84c852f51a3024d8241bd1827984ac75fc1cb17162172c95df0a554165a2a&amp;source=constructor" data-mobile="https://yandex.ru/map-widget/v1/?um=constructor%3A282e83b15aada2282043fcf7b2d60639730f86555be8bd6b5c7dc2ac80025dec&amp;source=constructor"></iframe>
	</div>

	<div class="section-map__container container container-xxl">

		<div class="section-map__inner">
			<div class="section-map__content">
				<h2 class="section-map__title section-title">Наш адрес</h2>
				<div class="section-map__text-wrap">
					<p class="section-map__text section-description">Россия, город Москва, улица Обручева, д. 23, корпус 3, 3-этаж</p>
				</div>
				<span class="section-map__badge badge">время работы: пн-пт 11:00-18:00</span>
			</div>
		</div>

	</div>
</section>

<!--#include virtual="/parts/footer.html" -->
