<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<div class="banner overlay" style="background-image: url(images/dist/banner.jpg);">
	<div class="banner__container container container-xxl">

		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">Туры</li>
			</ul>
		</nav>

		<h1 class="banner__title main-title">Список туров по Карелии</h1>

	</div>
</div>

<div class="page">
	<div class="container container-xxl">

		<div class="page__row row">
			<div class="page__col page__body col-md-9 col-sm-8">
				<div class="blog">
					<div class="blog__items row">
						<div class="blog__card card-blog col-xl-4 col-md-6">
							<a href="#" class="card-blog__inner">
								<div class="card-blog__img-wrap">
									<img src="images/dist/blog_1.jpg" alt="alt" class="card-blog__img">
									<h4 class="card-blog__title title">Традиционная мода поморов</h4>
								</div>
								<div class="card-blog__content">
									<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
								</div>
							</a>
						</div>
						<div class="blog__card card-blog col-xl-4 col-md-6">
							<a href="#" class="card-blog__inner">
								<div class="card-blog__img-wrap">
									<img src="images/dist/blog_2.jpg" alt="alt" class="card-blog__img">
									<h4 class="card-blog__title title">Традиционная мода поморов</h4>
								</div>
								<div class="card-blog__content">
									<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
								</div>
							</a>
						</div>
						<div class="blog__card card-blog col-xl-4 col-md-6">
							<a href="#" class="card-blog__inner">
								<div class="card-blog__img-wrap">
									<img src="images/dist/blog_3.jpg" alt="alt" class="card-blog__img">
									<h4 class="card-blog__title title">Традиционная мода поморов</h4>
								</div>
								<div class="card-blog__content">
									<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
								</div>
							</a>
						</div>
						<div class="blog__card card-blog col-xl-4 col-md-6">
							<a href="#" class="card-blog__inner">
								<div class="card-blog__img-wrap">
									<img src="images/dist/blog_3.jpg" alt="alt" class="card-blog__img">
									<h4 class="card-blog__title title">Традиционная мода поморов</h4>
								</div>
								<div class="card-blog__content">
									<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
								</div>
							</a>
						</div>
						<div class="blog__card card-blog col-xl-4 col-md-6">
							<a href="#" class="card-blog__inner">
								<div class="card-blog__img-wrap">
									<img src="images/dist/blog_1.jpg" alt="alt" class="card-blog__img">
									<h4 class="card-blog__title title">Традиционная мода поморов</h4>
								</div>
								<div class="card-blog__content">
									<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
								</div>
							</a>
						</div>
						<div class="blog__card card-blog col-xl-4 col-md-6">
							<a href="#" class="card-blog__inner">
								<div class="card-blog__img-wrap">
									<img src="images/dist/blog_2.jpg" alt="alt" class="card-blog__img">
									<h4 class="card-blog__title title">Традиционная мода поморов</h4>
								</div>
								<div class="card-blog__content">
									<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<p class="page__pages pages">Страницы <span class="pages__count">1 из 16</span></p>
				<nav class="page__navigation page-navigation">
					<ul class="page-navigation__list">
						<li><a href="#">предыдущая</a></li>
						<li><a href="#">следующая</a></li>
					</ul>
				</nav>
				<nav class="page__pagination pagination">
					<ul class="pagination__list">
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#">11</a></li>
						<li><a href="#">12</a></li>
					</ul>
				</nav>
			</div>
			<div class="page__col page__aside aside col-md-3 col-sm-4">
				<div class="aside__block links-page links-page_filter">
					<div class="links-page__item">
						<h5 class="links-page__title">Категории</h5>
						<form class="links-page__form" method="GET" name="filter">
							<ul class="links-page__list">
								<li>
									<label class="links-page__checkbox checkbox">
										<input type="checkbox" name="category" checked value="about">
										<span class="checkmark"></span>
										О Карелии
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox" name="category" checked value="info">
										<span class="checkmark"></span>
										Полезная информация
									</label>
								</li>
								<li>
									<label class="checkbox">
										<input type="checkbox" name="category" checked value="official">
										<span class="checkmark"></span>
										Официально
									</label>
								</li>
							</ul>
						</form>
					</div>
				</div>
				<div class="aside__divider divider divider_sm">
					<div class="divider__line"></div>
				</div>
				<div class="aside__block item-place item-place_default overlay" style="background-image: url(images/dist/places_1.jpg);">
					<div class="item-place__container">
						<h4 class="item-place__subtitle">Загадочные места Карелии</h4>
						<p class="item-place__text">Исследуй Карелию!</p>
						<a href="#" class="item-place__btn btn btn_outline_secondary">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

<!--#include virtual="/parts/footer.html" -->
