<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<div class="banner overlay" style="background-image: url(images/dist/banner.jpg);">
	<div class="banner__container container container-xxl">

		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">Туры</li>
			</ul>
		</nav>

		<h1 class="banner__title main-title">Бронирование</h1>

	</div>
</div>

<div class="page bg-white">
	<div class="container container-xxl">

		<div class="page__parameters-booking parameters-booking">
			<div class="parameters-booking__items row">
				<div class="parameters-booking__item item-parameters-booking col-md-4 col-sm-6">
					<h4 class="item-parameters-booking__title title">Тур</h4>
					<div class="item-parameters-booking__text-wrap">
						<p class="item-parameters-booking__text">Семейные приключения в Карелии</p>
					</div>
				</div>
				<div class="parameters-booking__item item-parameters-booking col-md-4 col-sm-6">
					<h4 class="item-parameters-booking__title title">Длительность:</h4>
					<div class="item-parameters-booking__text-wrap">
						<p class="item-parameters-booking__text">5 дней/ 4 ночи</p>
					</div>
				</div>
				<div class="parameters-booking__item item-parameters-booking col-md-4 col-sm-6">
					<h4 class="item-parameters-booking__title title">Группа:</h4>
					<div class="item-parameters-booking__text-wrap">
						<p class="item-parameters-booking__text">2 взрослых, ребенок 0-3 лет, ребенок 0-3 лет, ребенок 0-3 лет, ребенок 0-3 лет</p>
					</div>
				</div>
				<div class="parameters-booking__item item-parameters-booking col-md-4 col-sm-6">
					<h4 class="item-parameters-booking__title title">Время заезда:</h4>
					<div class="item-parameters-booking__text-wrap">
						<p class="item-parameters-booking__text">с 16:00, время выезда до 12:00</p>
					</div>
				</div>
				<div class="parameters-booking__item item-parameters-booking col-md-4 col-sm-6">
					<h4 class="item-parameters-booking__title title">Условия оплаты:</h4>
					<div class="item-parameters-booking__text-wrap">
						<p class="item-parameters-booking__text">Предоплата 100%</p>
					</div>
				</div>
				<div class="parameters-booking__item item-parameters-booking col-md-4 col-sm-6">
					<h4 class="item-parameters-booking__title title">Не включено в стоимость и другая информация:</h4>
					<div class="item-parameters-booking__text-wrap">
						<p class="item-parameters-booking__text">Трансфер до места</p>
					</div>
				</div>
			</div>
		</div>

		<form class="page__feedback feedback">
			<h2 class="feedback__title page__title">Введите ваши данные для бронирования</h2>
			<div class="feedback__row">
				<div class="feedback__col feedback__col_name">
					<label for="fio" class="feedback__label label">Ваше ФИО *</label>
					<input type="text" class="feedback__control control control_icon control_icon_user" placeholder="Введите ваше ФИО" required name="fio" id="fio">
				</div>
				<div class="feedback__col feedback__col_phone">
					<label for="phone_field" class="feedback__label label">Телефон *</label>
					<input type="text" class="feedback__control control control_icon control_icon_phone phone-mask" placeholder="Введите телефон" required name="phone_field" id="phone_field">
				</div>
				<div class="feedback__col feedback__col_email">
					<label for="email_field" class="feedback__label label">Email *</label>
					<input type="email" class="feedback__control control control_icon control_icon_email" placeholder="Введите email" required name="email_field" id="email_field">
				</div>
				<div class="feedback__col feedback__col_captcha">
					<div class="g-recaptcha" data-sitekey="6LeVWbkbAAAAAIqCQtR0hW_S2bCaXDTD_jWk9AsF"></div>
				</div>
			</div>
			<div class="feedback__btn-wrap">
				<button class="feedback__btn btn" type="submit">Забронировать</button>
			</div>
		</form>
		
	</div>
</div>

<!--#include virtual="/parts/footer.html" -->
