<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<div class="banner overlay" style="background-image: url(images/dist/banner.jpg);">
	<div class="banner__container container container-xxl">

		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">Туры</li>
			</ul>
		</nav>

		<h1 class="banner__title main-title">Бронирование</h1>

	</div>
</div>

<div class="page bg-white">
	<div class="container container-xxl">

		<div class="page__content content">
			<h2>Бронирование завершено</h2>
			<p>Информация отправлена менеджерам. Для подвтерждения бронирования и свободных дат и оформления документов и предоплаты с вами свяжутся в течении рабочего дня. Эту страницу можно закрыть.</p>
			<h6>Детали вашего бронирования:</h6>
			<p>Номер бронирования: <span class="color-accent">2436</span> от 01.11.2020</p>
			<p>Статус бронирования: <span class="color-accent">в обработке</span></p>
			<p>Тур: <a href="#">Семейные приключения на Белом море</a></p>
			<p>Даты: 03.11.2020 - 07.11.2020</p>
			<p>Взрослых: 2 человека, детей (0-3 лет): 1 человек, детей (3-5 лет): 1 человек</p>
		</div>
		
	</div>
</div>

<!--#include virtual="/parts/footer.html" -->
