<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<div class="banner overlay" style="background-image: url(images/dist/banner.jpg);">
	<div class="banner__container container container-xxl">

		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">Туры</li>
			</ul>
		</nav>

		<h1 class="banner__title main-title">Услышать зов природы</h1>

	</div>
</div>

<div class="slider-images-wrapper">
	<div class="slider-images-wrapper__inner">
		<div class="container container-xxl">
			<div class="slider-images-main slider slider_white">
				<div class="slider-images-main__items slider-images-main__items_single slider__items">
					<a href="images/dist/excursion_big_1.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_1.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_2.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_2.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_1.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_1.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_2.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_2.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_1.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_1.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_2.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_2.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_1.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_1.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_2.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_2.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_1.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_1.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_2.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_2.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_1.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_1.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
					<a href="images/dist/excursion_big_2.jpg" class="slider-images__item item-images" data-caption="Загадочные места Карелии">
						<img src="images/dist/excursion_big_2.jpg" alt="alt" class="item-images__img img-responsive">
						<h4 class="item-images__title title">Загадочные места Карелии</h4>
					</a>
				</div>
				<div class="slider-images-main__arrows slider__arrows container container-xxl">
					<svg role="img" class="slider-images-main__nav slider-images-main__nav_prev slider__nav slider__nav_prev">
						<use href="images/dist/icons/sprite.svg#arrow_left"/>
					</svg>
					<svg role="img" class="slider-images-main__nav slider-images-main__nav_next slider__nav slider__nav_next">
						<use href="images/dist/icons/sprite.svg#arrow_right"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page bg-white">
	<div class="container container-xxl">

		<div class="page__row row">
			<div class="page__col page__body col-xl-9 col-lg-8 col-md-7 col-sm-6">
				<div class="page__content content">
					<p>Должно ведь быть описание места, в котором в основном больше про локацию и территорию. Что-нибудь про историю места, как тут все хорошо, тихо и нет сосоедей. Visiting "Where the Lake meets the River" was a profound experience. The location was absolutely beautiful. Camping with my friend, we often found ourselves- sitting in the perfectly-placed provided chairs- staring off at the dynamic sky, holding dear the stillness we entered in admiration of the moment. Our host, Fawn Sharp, is a brilliant human and an inspiring story teller. We invited her to our fire and she brought her mother (one of the first women to participate in the Canoe Journey in 1989) and her soon-to-be 13 year old son. The conversation took us on a journey until the embers of the fire revealed the cool of the air and the early morning it had become. Fawn is the president of the Quinault Indian Nation and the vice president of the National Congress of American Indians.</p>
					<p>Должно ведь быть описание места, в котором в основном больше про локацию и территорию. Что-нибудь про историю места, как тут все хорошо, тихо и нет сосоедей. Visiting "Where the Lake meets the River" was a profound experience. The location was absolutely beautiful. Camping with my friend, we often found ourselves- sitting in the perfectly-placed provided chairs- staring off at the dynamic sky, holding dear the stillness we entered in admiration of the moment. Our host, Fawn Sharp, is a brilliant human and an inspiring story teller. We invited her to our fire and she brought her mother (one of the first women to participate in the Canoe Journey in 1989) and her soon-to-be 13 year old son. The conversation took us on a journey until the embers of the fire revealed the cool of the air and the early morning it had become. Fawn is the president of the Quinault Indian Nation and the vice president of the National Congress of American Indians</p>
				</div>
				<div class="page__conditions conditions">
					<h2 class="conditions__title page__title">Условия бронирования</h2>
					<div class="conditions__block">
						<div class="conditions__items row">
							<div class="conditions__item item-condition col-xl-4 col-sm-6">
								<span class="item-condition__badge badge">Время заезда: с 15:00</span>
							</div>
							<div class="conditions__item item-condition col-xl-4 col-sm-6">
								<span class="item-condition__badge badge">Время заезда: с 15:00</span>
							</div>
							<div class="conditions__item item-condition col-xl-4">
								<span class="item-condition__badge badge">Время заезда: с 15:00</span>
							</div>
						</div>
						<div class="conditions__divider divider divider_sm">
							<div class="divider__line"></div>
						</div>
					</div>
					<div class="conditions__block">
						<div class="conditions__items row">
							<div class="conditions__item item-condition col-xl-4 col-sm-6">
								<span class="item-condition__badge badge">Время заезда: с 15:00</span>
							</div>
							<div class="conditions__item item-condition col-xl-4 col-sm-6">
								<span class="item-condition__badge badge">Период внесения предоплаты: 3 дня с момента бронирования</span>
							</div>
							<div class="conditions__item item-condition col-xl-4">
								<span class="item-condition__badge badge">Отмена бронирования: Взымается 30% от стоимости проживания</span>
							</div>
						</div>
						<div class="conditions__divider divider divider_sm">
							<div class="divider__line"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="page__col page__aside aside col-xl-3 col-lg-4 col-md-5 col-sm-6">
				<form class="aside__block booking">
					<div class="booking__header">
						<h5 class="booking__title">Посмотреть цены</h5>
					</div>
					<div class="booking__content">
						<div class="booking__controls row">
							<div class="booking__group col-12">
								<label for="date" class="booking__label label">Дата проведения</label>
								<input type="text" class="booking__datepicker datepicker control control_icon control_icon_calendar" placeholder="Выберите дату" name="date" id="date" required>
							</div>
							<div class="booking__group col-12">
								<label for="adults" class="booking__label label">Количество людей</label>
								<select name="people" id="people" class="booking__select select">
									<option value="1">1 человек</option>
									<option value="2">2 человек</option>
									<option value="3">3 человек</option>
									<option value="4">4 человек</option>
								</select>
							</div>
							
							<div class="booking__group col-12">
								<div class="g-recaptcha" data-sitekey="6LeVWbkbAAAAAIqCQtR0hW_S2bCaXDTD_jWk9AsF"></div>
							</div>
						</div>
						<div class="booking__result result-booking">
							<h5 class="result-booking__title booking__title">Стоимость</h5>
							<h4 class="result-booking__subtitle">Программа</h4>
							<div class="result-booking__items">
								<div class="result-booking__item item-result">
									<span class="item-result__title">3 человек</span>
									<div class="item-result__divider"></div>
									<span class="item-result__value">1000 ₽</span>
								</div>
								<div class="result-booking__item item-result item-result_total">
									<span class="item-result__title">Итого</span>
									<div class="item-result__divider"></div>
									<span class="item-result__value">1000 ₽</span>
								</div>
							</div>
						</div>
						<button class="booking__btn btn" type="submit">показать цены</button>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</div>

<!--#include virtual="/parts/footer.html" -->
