<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">

	<title>Лопский берег</title>
	<meta name="description" content="Startup HTML template OptimizedHTML 5">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="icon" href="images/favicon.png">
	<meta property="og:image" content="images/dist/preview.jpg">
	
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/styles.min.css">

</head>

<body>

	<header class="header">
		<div class="header__container container container-xxl">
			<a href="index.html" class="header__logo">
				<img src="images/dist/logo.svg" alt="alt">
			</a>
			<div class="header__content animated">
				<a href="#" class="header__logo header__logo_mobile">
					<img src="images/dist/logo.svg" alt="alt">
				</a>
				<div class="header__contacts contacts-header">
					<a href="tel:79214544333" class="contacts-header__item">
						<div class="contacts-header__icon-wrap">
							<img src="images/dist/icons/phone.svg" alt="alt" class="contacts-header__icon">
						</div>
						<span class="contacts-header__text">+7 921 454-43-33</span>
					</a>
				</div>
				<div class="header__navbar navbar">
					<div class="navbar__socials socials socials_border">
						<div class="socials__items">
							<a href="#" class="socials__item">
								<img src="images/dist/icons/vk.svg" alt="alt" class="socials__icon">
							</a>
							<a href="#" class="socials__item">
								<img src="images/dist/icons/telegram.svg" alt="alt" class="socials__icon">
							</a>
						</div>
					</div>
					<nav class="navbar__menu menu">
						<ul>
							<li><a href="about.html">О нас</a></li>
							<li><a href="tours.html">Туры</a></li>
							<li><a href="excursions.html">Экскурсии</a></li>
							<li><a href="stock.html">Акции</a></li>
							<li><a href="rooms.html">Проживание</a></li>
							<li><a href="#">Кафе</a></li>
							<li><a href="shop.html">Лавка</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<button class="header__hamburger hamburger hamburger--spring" type="button">
				<span class="hamburger-box">
				  	<span class="hamburger-inner"></span>
				</span>
			</button>
		</div>
	</header>

<section class="section-showcase">
	<div class="section-showcase__slider slider-showcase slider slider_white">
		<div class="slider-showcase__items slider__items">
			<div class="slider-showcase__item item-showcase" style="background-image: url(images/dist/bg.jpg);">
				<div class="item-showcase__container container container-xxl">
					<h2 class="item-showcase__title main-title">чувствуй жизнь в ее<br> природном дыхании</h2>
				</div>
			</div>
			<div class="slider-showcase__item item-showcase" style="background-image: url(images/dist/bg.jpg);">
				<div class="item-showcase__container container container-xxl">
					<h2 class="item-showcase__title main-title">чувствуй жизнь в ее<br> природном дыхании 2</h2>
				</div>
			</div>
		</div>
		<div class="slider-showcase__arrows slider__arrows container container-xxl">
			<svg role="img" class="slider-showcase__nav slider-showcase__nav_prev slider__nav slider__nav_prev">
				<use href="images/dist/icons/sprite.svg#arrow_left"/>
			</svg>
			<svg role="img" class="slider-showcase__nav slider-showcase__nav_next slider__nav slider__nav_next">
				<use href="images/dist/icons/sprite.svg#arrow_right"/>
			</svg>
		</div>
	</div>
</section>

<section class="section section-benefits" style="background-image: url(images/dist/bg_benefits.jpg);">
	<div class="container container-xxl">

		<div class="section__headline">
			<h2 class="section-title">Этнопарк это:</h2>
		</div>

		<div class="benefits">
			<div class="benefits__item item-benefit">
				<div class="item-benefit__inner">
					<img src="images/dist/benefits_1.svg" alt="alt" class="item-benefit__icon">
					<h4 class="item-benefit__title title">Знакомство c Карелией по максимуму</h4>
					<p class="item-benefit__text">Уникальная природная территория. Море, необитаемые острова, тайга, скалы и песчаные пляжи</p>
				</div>
			</div>
			<div class="benefits__item item-benefit item-benefit_lg">
				<div class="item-benefit__inner">
					<img src="images/dist/benefits_2.svg" alt="alt" class="item-benefit__icon">
					<h4 class="item-benefit__title title">Перезагрузка и трансформация</h4>
					<p class="item-benefit__text">Места уединения, дикая природа, завораживающие пейзажи — полная перезагрузка — условия для возврата к началу и гармонии</p>
				</div>
			</div>
			<div class="benefits__item item-benefit">
				<div class="item-benefit__inner">
					<img src="images/dist/benefits_3.svg" alt="alt" class="item-benefit__icon">
					<h4 class="item-benefit__title title">Мультиформат без ограничений</h4>
					<p class="item-benefit__text">Гибкий формат досуга в зависимости от целей</p>
				</div>
			</div>
			<div class="benefits__item item-benefit item-benefit_lg">
				<div class="item-benefit__inner">
					<img src="images/dist/benefits_4.svg" alt="alt" class="item-benefit__icon">
					<h4 class="item-benefit__title title">Безопасно</h4>
					<p class="item-benefit__text">Высокие требования к безопасности гостей как на территории этнопарка, так и на выездных мероприятиях</p>
				</div>
			</div>
			<div class="benefits__item item-benefit item-benefit_lg">
				<div class="item-benefit__inner">
					<img src="images/dist/benefits_5.svg" alt="alt" class="item-benefit__icon">
					<h4 class="item-benefit__title title">Уникальный опыт</h4>
					<p class="item-benefit__text">Возможность видеть редкие являения в животном и природном мире, прикоснуться к истории, попробовать еду по-другому, иначе чувстовать себя, учить детей не как обычно</p>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="section section-tours section_inverse" style="background-image: url(images/dist/bg_tours.jpg);">
	<div class="container">

		<div class="section__headline">
			<h2 class="section-title">Туры в Карелии круглый год</h2>
			<p class="section-description">Белоснежные приключения, лыжные прогулки и атмосфера праздника</p>
		</div>

		<div class="tours row">
			<div class="tours__item item-tour col-sm-6">
				<a href="#" class="item-tour__inner">
					<div class="item-tour__bg-wrap">
						<img src="images/dist/tours_1.jpg" alt="alt" class="item-tour__bg">
					</div>
					<div class="item-tour__content">
						<h4 class="item-tour__title title">Осенний карнавал</h4>
						<p class="item-tour__text">наблюдение за миром природы, яркие дары леса и уютные вечера</p>
					</div>
				</a>
			</div>
			<div class="tours__item item-tour col-sm-6">
				<a href="#" class="item-tour__inner">
					<div class="item-tour__bg-wrap">
						<img src="images/dist/tours_2.jpg" alt="alt" class="item-tour__bg">
					</div>
					<div class="item-tour__content">
						<h4 class="item-tour__title title">Осенний карнавал</h4>
						<p class="item-tour__text">наблюдение за миром природы, яркие дары леса и уютные вечера</p>
					</div>
				</a>
			</div>
			<div class="tours__item item-tour col-sm-6">
				<a href="#" class="item-tour__inner">
					<div class="item-tour__bg-wrap">
						<img src="images/dist/tours_3.jpg" alt="alt" class="item-tour__bg">
					</div>
					<div class="item-tour__content">
						<h4 class="item-tour__title title">Осенний карнавал</h4>
						<p class="item-tour__text">наблюдение за миром природы, яркие дары леса и уютные вечера</p>
					</div>
				</a>
			</div>
			<div class="tours__item item-tour col-sm-6">
				<a href="#" class="item-tour__inner">
					<div class="item-tour__bg-wrap">
						<img src="images/dist/tours_4.jpg" alt="alt" class="item-tour__bg">
					</div>
					<div class="item-tour__content">
						<h4 class="item-tour__title title">Осенний карнавал</h4>
						<p class="item-tour__text">наблюдение за миром природы, яркие дары леса и уютные вечера</p>
					</div>
				</a>
			</div>
		</div>

	</div>
</section>

<section class="section section-placing">
	<div class="container">

		<div class="section__headline">
			<h2 class="section-title color-accent">Комфортное размещение</h2>
			<p class="section-description">в окружении дикой природы</p>
		</div>

		<div class="slider-placing slider slider_dark">
			<div class="slider-placing__items slider__items">
				<div class="slider-placing__item item-placing" style="background-image: url(images/dist/placing_1.jpg);">
					<div class="item-placing__content">
						<p class="item-placing__text">Номер на трех человек. Три одноместных кровати, спальня, холл, кухня, сауна, санузел, камин, теплые полы</p>
						<a href="#" class="item-placing__link link">
							<svg role="img" class="link__icon">
								<use href="images/dist/icons/sprite.svg#list"/>
							</svg>
							подробнее
						</a>
					</div>
					<span class="item-placing__badge badge">комфорт</span>
				</div>
				<div class="slider-placing__item item-placing" style="background-image: url(images/dist/placing_2.jpg);">
					<div class="item-placing__content">
						<p class="item-placing__text">Номер на трех человек. Три одноместных кровати, спальня, холл, кухня, сауна, санузел, камин, теплые полы</p>
						<a href="#" class="item-placing__link link">
							<svg role="img" class="link__icon">
								<use href="images/dist/icons/sprite.svg#list"/>
							</svg>
							подробнее
						</a>
					</div>
					<span class="item-placing__badge badge">комфорт</span>
				</div>
				<div class="slider-placing__item item-placing" style="background-image: url(images/dist/placing_1.jpg);">
					<div class="item-placing__content">
						<p class="item-placing__text">Номер на трех человек. Три одноместных кровати, спальня, холл, кухня, сауна, санузел, камин, теплые полы</p>
						<a href="#" class="item-placing__link link">
							<svg role="img" class="link__icon">
								<use href="images/dist/icons/sprite.svg#list"/>
							</svg>
							подробнее
						</a>
					</div>
					<span class="item-placing__badge badge">комфорт</span>
				</div>
			</div>
			<div class="slider-placing__arrows slider__arrows">
				<svg role="img" class="slider-placing__nav slider-placing__nav_prev slider__nav slider__nav_prev">
					<use href="images/dist/icons/sprite.svg#arrow_left"/>
				</svg>
				<svg role="img" class="slider-placing__nav slider-placing__nav_next slider__nav slider__nav_next">
					<use href="images/dist/icons/sprite.svg#arrow_right"/>
				</svg>
			</div>
		</div>

		<div class="section-placing__link-wrap text-center">
			<a href="#" class="section-placing__link link">
				<svg role="img" class="link__icon">
					<use href="images/dist/icons/sprite.svg#menu"/>
				</svg>
				все средства размещения
			</a>
		</div>

	</div>
</section>

<section class="section section-places section_inverse">
	
	<div class="divider divider_lg">
		<div class="divider__line"></div>
	</div>

	<div class="slider-places slider slider_white">
		<div class="slider-places__items slider__items">
			<div class="slider-places__item item-place overlay" style="background-image: url(images/dist/places_1.jpg);">
				<div class="item-place__container container container-xxl">
					<div class="item-place__header">
						<h2 class="item-place__title section-title">Чем у нас заняться?</h2>
						<p class="item-place__text">Исследуй Карелию!</p>
					</div>
					<div class="item-place__footer">
						<h4 class="item-place__subtitle">Загадочные места Карелии</h4>
						<a href="#" class="item-place__btn btn btn_outline_secondary">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="slider-places__item item-place overlay" style="background-image: url(images/dist/places_1.jpg);">
				<div class="item-place__container container container-xxl">
					<div class="item-place__header">
						<h2 class="item-place__title section-title">Чем у нас заняться?</h2>
						<p class="item-place__text">Исследуй Карелию!</p>
					</div>
					<div class="item-place__footer">
						<h4 class="item-place__subtitle">Загадочные места Карелии</h4>
						<a href="#" class="item-place__btn btn btn_outline_secondary">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-places__arrows slider__arrows container container-xxl">
			<svg role="img" class="slider-places__nav slider-places__nav_prev slider__nav slider__nav_prev">
				<use href="images/dist/icons/sprite.svg#arrow_left"/>
			</svg>
			<svg role="img" class="slider-places__nav slider-places__nav_next slider__nav slider__nav_next">
				<use href="images/dist/icons/sprite.svg#arrow_right"/>
			</svg>
		</div>
	</div>

	<div class="divider divider_lg divider_reverse">
		<div class="divider__line"></div>
	</div>
		
</section>

<section class="section">
	<div class="container container-xxl">

		<div class="section__headline">
			<h2 class="section-title">Блог</h2>
			<p class="section-description">Наши рассказы о Белом море<br> о культуре Русского севера и поморских традициях</p>
		</div>

		<div class="blog">
			<div class="blog__items row">
				<div class="blog__card card-blog col-xl-3 col-sm-6">
					<a href="#" class="card-blog__inner">
						<div class="card-blog__img-wrap">
							<img src="images/dist/blog_1.jpg" alt="alt" class="card-blog__img">
							<h4 class="card-blog__title title">Традиционная мода поморов</h4>
						</div>
						<div class="card-blog__content">
							<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
						</div>
					</a>
				</div>
				<div class="blog__card card-blog col-xl-3 col-sm-6">
					<a href="#" class="card-blog__inner">
						<div class="card-blog__img-wrap">
							<img src="images/dist/blog_2.jpg" alt="alt" class="card-blog__img">
							<h4 class="card-blog__title title">Традиционная мода поморов</h4>
						</div>
						<div class="card-blog__content">
							<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег</p>
						</div>
					</a>
				</div>
				<div class="blog__card card-blog col-xl-3 col-sm-6">
					<a href="#" class="card-blog__inner">
						<div class="card-blog__img-wrap">
							<img src="images/dist/blog_3.jpg" alt="alt" class="card-blog__img">
							<h4 class="card-blog__title title">Традиционная мода поморов</h4>
						</div>
						<div class="card-blog__content">
							<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
						</div>
					</a>
				</div>
				<div class="blog__card card-blog col-xl-3 col-sm-6">
					<a href="#" class="card-blog__inner">
						<div class="card-blog__img-wrap">
							<img src="images/dist/blog_4.jpg" alt="alt" class="card-blog__img">
							<h4 class="card-blog__title title">Традиционная мода поморов</h4>
						</div>
						<div class="card-blog__content">
							<p class="card-blog__text">Белое море, где нетронутая северная природа завораживает и покоряет путешественников с первого взгляда. Вековые ели одеты в накрахмаленное кружево, белоснежный пушистый снег, звенящая тишина и бескрайние ледяные просторы.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="blog__link-wrap text-center">
				<a href="#" class="blog__link link link_accent">
					<svg role="img" class="link__icon">
						<use href="images/dist/icons/sprite.svg#menu"/>
					</svg>
					Все статьи
				</a>
			</div>
		</div>

		<div class="section__spiral-wrap text-center">
			<svg role="img" class="section__spiral spiral spiral_accent">
				<use href="images/dist/icons/sprite.svg#spiral"/>
			</svg>
		</div>

	</div>
</section>

<section class="section section-mailing section_inverse" style="background-image: url(images/dist/bg_mailing.jpg);">
	<div class="container">

		<div class="section__headline">
			<h2 class="section-title">Карелия близко!</h2>
		</div>

		<form class="form-mailing form notice-response">
			<div class="form-mailing__row">
				<input type="email" class="form-mailing__control control control_mailing" placeholder="Введите ваш адрес электронной почты" name="email" id="email" required>
				<button class="form__btn btn" type="submit">подписаться</button>
			</div>
		</form>

		<div class="follow-us">
			<p class="follow-us__text">Следите за нами в соцсетях</p>
			<div class="follow-us__socials">
				<a href="#" class="follow-us__item item-follow-us">
					<img src="images/dist/icons/facebook.svg" alt="alt" class="item-follow-us__icon img-responsive">
				</a>
				<a href="#" class="follow-us__item item-follow-us">
					<img src="images/dist/icons/instagram.svg" alt="alt" class="item-follow-us__icon img-responsive">
				</a>
			</div>
		</div>

	</div>
</section>

<footer class="footer">
	<div class="footer__container container container-xxl">
		<div class="footer__top">
			<div class="footer__row row">
				<div class="footer__col footer__col_info col-sm-4">
					<div class="footer__info info-footer">
						<p class="info-footer__text">ООО «Наименование организации»</p>
						<p class="info-footer__text">ИНН: 1000000000</p>
						<p class="info-footer__text">телефон <a href="#">+7 921 454-43-33</a></p>
					</div>
					<div class="footer__socials socials">
						<div class="socials__items">
							<a href="#" class="socials__item">
								<img src="images/dist/icons/facebook.svg" alt="alt" class="socials__icon">
							</a>
							<a href="#" class="socials__item">
								<img src="images/dist/icons/instagram.svg" alt="alt" class="socials__icon">
							</a>
						</div>
						<span class="socials__hint">следуй за нами!</span>
					</div>
				</div>
				<div class="footer__col footer__col_menu col-sm-8">
					<nav class="footer__menu menu">
						<ul>
							<li><a href="about.html">Об этнопарке</a></li>
							<li><a href="tours.html">Туры</a></li>
							<li><a href="#">Акции</a></li>
							<li><a href="#">Чем заняться</a></li>
							<li><a href="#">Проживание</a></li>
							<li><a href="#">Кафе</a></li>
							<li><a href="shop.html">Лавка</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__row row">
				<div class="footer__col col-sm-6">
					<p class="footer__links">
						<a href="#">Политика конфиденциальности</a>
						и
						<a href="#">Пользовательское соглашение</a>
					</p>
				</div>
				<div class="footer__col col-sm-6">
					<p class="footer__copyright">© 2021 Разработка и пооддержка сайта ООО «Интэрсо»</p>
				</div>
			</div>
		</div>
	</div>
</footer>

{# <script src="js/scripts.min.js"></script>
<script src="js/app.js"></script>
<script src="js/filter.js"></script>
<script src="js/localization/messages_ru.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script> #}

</body>
</html>
