<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<div class="banner overlay" style="background-image: url(images/dist/banner.jpg);">
	<div class="banner__container container container-xxl">

		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">Туры</li>
			</ul>
		</nav>

		<h1 class="banner__title main-title">Карта</h1>

	</div>
</div>

<div class="page">
	<div class="container container-xxl">

		<div class="page__filter filter">
			<ul class="filter__list">
				<li class="filter__item filter__item_active"><a href="#">Карта этнопарка</a></li>
				<li class="filter__item"><a href="#">Карта островов</a></li>
				<li class="filter__item"><a href="#">Карта суши</a></li>
			</ul>
		</div>

		<div class="page__super-map super-map">

			<p class="super-map__text d-block d-md-none">Кликните на объект на карте, чтобы увидеть описание</p>

			<div class="super-map__inner custom-scrollbar-horizontal">
				<div class="super-map__elements">
	
					<!-- Элементы на карте. В каждый элемент передаются параметры: ширина, высота, координаты X, Y, в пикселях, относительно карты (left, top). -->
	
					<div class="super-map__element element-super-map" style="width: 105px; height: 73px; left: 330px; top: 333px;" id="deer">
						<div class="element-super-map__balloon balloon">
							<p class="balloon__text">Балун подсказка при клике</p>
							<img src="images/dist/element_1.jpg" alt="alt" class="balloon__img img-responsive">
						</div>
					</div>
					<div class="super-map__element element-super-map" style="width: 98px; height: 33px; left: 1076px; top: 144px;" id="camp">
						<div class="element-super-map__balloon balloon">
							<p class="balloon__text">Балун подсказка при клике 2</p>
							<img src="images/dist/element_1.jpg" alt="alt" class="balloon__img img-responsive">
						</div>
					</div>
	
				</div>
	
				<img src="images/dist/etnopark.jpg" alt="alt" class="super-map__img">
			</div>
		</div>

		<div class="page__content content">
			<h2>Основное меню</h2>
			<p>Текст про меню. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
		</div>
		
	</div>
</div>

<!--#include virtual="/parts/footer.html" -->
