<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<div class="banner overlay" style="background-image: url(images/dist/banner.jpg);">
	<div class="banner__container container container-xxl">

		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="#">Главная</a></li>
				<li class="breadcrumbs__item">Акции</li>
			</ul>
		</nav>

		<h1 class="banner__title main-title">Акции</h1>

	</div>
</div>

<div class="page bg-white">

	<div class="container container-xxl">
		<div class="stock">
			<div class="stock__items row">

				<div class="stock__item item-tour item-tour_stock col-lg-6">
					<div class="item-tour__inner">
						<div class="item-tour__bg-wrap">
							<img src="images/dist/stock_1.jpg" alt="alt" class="item-tour__bg">
						</div>
						<div class="item-tour__content">
							<h4 class="item-tour__title title">Заголовок акции в 2 строки</h4>
							<p class="item-tour__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is... Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is...</p>
							<a href="#" class="item-tour__btn btn">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="stock__item item-tour item-tour_stock col-lg-6">
					<div class="item-tour__inner">
						<div class="item-tour__bg-wrap">
							<img src="images/dist/stock_2.jpg" alt="alt" class="item-tour__bg">
						</div>
						<div class="item-tour__content">
							<h4 class="item-tour__title title">Заголовок акции в 2 строки</h4>
							<p class="item-tour__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is... Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is...</p>
							<a href="#" class="item-tour__btn btn">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="stock__item item-tour item-tour_stock col-lg-6">
					<div class="item-tour__inner">
						<div class="item-tour__bg-wrap">
							<img src="images/dist/stock_3.jpg" alt="alt" class="item-tour__bg">
						</div>
						<div class="item-tour__content">
							<h4 class="item-tour__title title">Заголовок акции в 2 строки</h4>
							<p class="item-tour__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is... Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is...</p>
							<a href="#" class="item-tour__btn btn">Подробнее</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<!--#include virtual="/parts/footer.html" -->
