// USER VARIABLES SECTION

$accent: #A62318
$success: #0ab14a
$secondary: #4772A7
$secondaryDark: #002F55
$secondaryLight: #BDD0E8
$alpha: #aba385
$bravo: #606060
$fontsize: 16px // Body Font Size
$textcolor: #333 // Text Color
$lineheight: 1.65 // Document Line Height
$userfont: intro-geo, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

$container-max-widths: (sm: 100%, md: 760px, lg: 970px, xl: 1150px)

// IMPORT SECTION


html
	overflow-x: hidden

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden
